In [67]:
import numpy as np
import pandas as pd

In [68]:
data = pd.read_csv(r'E:\\BDA_Project2\\data\\gemstone.csv')

In [69]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [70]:
data.shape

(193573, 11)

In [71]:
data.drop(['id'],axis=True,inplace=True)

In [72]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [73]:
data['cut'] = data['cut'].astype('category')
data['color'] = data['color'].astype('category')
data['clarity'] = data['clarity'].astype('category')

data['cut'] = data['cut'].cat.codes
data['color'] = data['color'].cat.codes
data['clarity'] = data['clarity'].cat.codes

In [74]:
data.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52    3      2        5   62.2   58.0  7.27  7.33  4.55  13619
1   2.03    4      6        3   62.0   58.0  8.06  8.12  5.05  13387
2   0.70    2      3        4   61.2   57.0  5.69  5.73  3.50   2772
3   0.32    2      3        4   61.6   56.0  4.38  4.41  2.71    666
4   1.70    3      3        5   62.6   59.0  7.65  7.61  4.77  14453

In [75]:
x = data.drop(labels=['price'],axis=True)

In [76]:
y = data[['price']]

In [77]:
x

        carat  cut  color  clarity  depth  table     x     y     z
0        1.52    3      2        5   62.2   58.0  7.27  7.33  4.55
1        2.03    4      6        3   62.0   58.0  8.06  8.12  5.05
2        0.70    2      3        4   61.2   57.0  5.69  5.73  3.50
3        0.32    2      3        4   61.6   56.0  4.38  4.41  2.71
4        1.70    3      3        5   62.6   59.0  7.65  7.61  4.77
...       ...  ...    ...      ...    ...    ...   ...   ...   ...
193568   0.31    2      0        7   61.1   56.0  4.35  4.39  2.67
193569   0.70    3      3        7   60.3   58.0  5.75  5.77  3.47
193570   0.73    4      2        2   63.1   57.0  5.72  5.75  3.62
193571   0.34    4      0        2   62.9   55.0  4.45  4.49  2.81
193572   0.71    1      1        3   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [78]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [79]:
## Train Test

from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.30,random_state = 42)

- As our aims to predict the price of the Diamond (which is continuous values)
- we use Regression algorihms
- Linear Regression , Ridge , Lasso , Elastic net

In [82]:
# model training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error

In [83]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = root_mean_squared_error(true,predicted)
    r2 = r2_score(true,predicted)

    return mae,mse,rmse,r2

In [85]:
models = {
    'LinearRegression' : LinearRegression(),
    'Lasso' : Lasso(),
    'Ridge' : Ridge(),
    'ElasticNet' : ElasticNet()
}

In [86]:
train_model_list = []
model_list = []
r2_list = []

In [87]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet']

In [88]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet'])

In [89]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [91]:
for i in range(len(list(models))):
    model = list(models.values())[i]  # model = LinearRegression() etc..
    model.fit(x_train,y_train)

    #prediction
    y_pred = model.predict(x_test)

    #test_score
    mae,mse,rmse,r2 = evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print('MAE' , mae)
    print('MSE' , mse)
    print('RMSE' , rmse)
    print('R2 score' , r2*100)

    r2_list.append(r2)

    print("="*35)
    print("\n")

LinearRegression
Model Training Performance
MAE 708.9553661559233
MSE 1228486.4301696732
RMSE 1108.371070612037
R2 score 92.39746882209441
===================================


Lasso
Model Training Performance
MAE 710.7205281021863
MSE 1228874.7143677212
RMSE 1108.546216613327
R2 score 92.395065911774
===================================


Ridge
Model Training Performance
MAE 709.0721192464872
MSE 1228522.579220566
RMSE 1108.3873777793422
R2 score 92.39724511243045
===================================


ElasticNet
Model Training Performance
MAE 1186.6378051072152
MSE 2948000.2083016573
RMSE 1716.9741431663022
R2 score 81.75619775222911
===================================

In [92]:
r2_list

[0.9239746882209441, 0.92395065911774, 0.9239724511243046, 0.8175619775222911]

In [96]:
import pickle

# Find the best model based on R² score
best_index = r2_list.index(max(r2_list))
best_model_name = model_list[best_index]
best_model = list(models.values())[best_index]

# Save the best model using pickle
save_path = 'E:\\BDA_Project2\\best_model\\best_model.pkl'
with open(save_path, 'wb') as file:
    pickle.dump(best_model, file)

print(f"The best model is: {best_model_name}")
print(f"R² score: {r2_list[best_index]*100:.2f}%")
print(f"Model saved at: {save_path}")

The best model is: LinearRegression
R² score: 92.40%
Model saved at: E:\BDA_Project2\best_model\best_model.pkl